
/* Add padding to containers */
.container {
    padding: 16px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 200px;
    height: 100px;
}

.pos-center {
    position: absolute;
    left: 75%;
    margin-left: -100px;
    padding: 16px;
}
