.btn {
    border: none;
    background-color: inherit;
    padding: 6px 8px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}